In [1]:
import pandas as pd
import numpy as np

In [2]:
# import passengers data created in Italians_data_exploration.ipynb
csv = open('./data/sicily_passengers_raw.csv')
df = pd.read_csv(csv)

In [3]:
df.head()

,Unnamed: 0,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival
0,0,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
1,1,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
2,2,CARUSO,FRANCESCA,Infant in months: 10,INFANT,NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
3,3,CARUSO,FRANCESCO,03,"CHILD, YOUNGSTER",NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
4,4,CARUSO,ROSA,38,WIFE,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892

In [4]:
df = df.drop(columns="Unnamed: 0")

In [5]:
df.head()

,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival
0,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
1,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
2,CARUSO,FRANCESCA,Infant in months: 10,INFANT,NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
3,CARUSO,FRANCESCO,03,"CHILD, YOUNGSTER",NO,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892
4,CARUSO,ROSA,38,WIFE,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236,Agrigento,EMS,NAPLES,12/29/1892

In [6]:
df.sort_values('DestinationCityTown')

,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival
19316,LEONE,ROSARIA,04,DOMESTIC,NO,ITALY,VALLEDOLMO,--PORT,Staying in the USA [Transit]; Steer[Travel],83150,Palermo,BOLIVIA,PALERMO,01/30/1899
38880,VICARI,FRANCESCA,15,DAUGHTER,NO,ITALY,VALLEDOLMO,--PORT,Staying in the USA [Transit]; Steer[Travel],83150,Palermo,BOLIVIA,PALERMO,01/30/1899
19812,LIPARI,ANTONINA,43,HOUSEWIFE,NO,ITALY,VALLEDOLMO,-MORRIS NY,Staying in the USA [Transit]; Steer[Travel],83555,Palermo,VICTORIA,NAPLES,12/17/1900
33337,SANTOMARE,ARMANDA,02,FARMER,NO,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
4295,BRUVA,SERAFINA,36,HOUSEWIFE,NO,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
31790,ROMEO,VENTIMINA,11,FARMER,NO,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
31767,ROMEO,ELENA,Infant in months: 08,FARMER,NO,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
27418,PARISI,EUGENIA,23,SEAMSTRESS,READ & WRITE,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
27449,PARISI,NATALA,65,SEAMSTRESS,NO,ITALY,CATANIA,0,Staying in the USA [Transit]; Steer[Travel],83530,Catania,HESPERIA,NAPLES,10/26/1900
2763,BATTAGLIA,SALVATORE,51,LABORER,NO,ITALY,VALLEDOLMO,ADAM-PA,Staying in the USA [Transit]; Steer[Travel],83196,Palermo,ALSATIA,NAPLES,05/15/1899
23975,MESSINA,GIUSEPPE,38,SHOEMAKER,UNKNOWN,ITALY,ALIMENA,AIZAO,Staying in the USA [Transit]; Steer[Travel],235,Palermo,NEUSTRIA,MARSEILLES & NAPLES,07/24/1895
298,PACINO,ANNA,22,INFANT,READ & WRITE,ITALY,PALAZZO ADRIANO,ALABAMA,Staying in the USA [Transit]; Cabin Passenger ...,82171,Palermo,BIRMANIA,NAPLES,08/16/1892
307,PARRINO,GIOVANNI,30,CARPENTER,READ & WRITE,ITALY,PALAZZO ADRIANO,ALABAMA,Staying in the USA [Transit]; Cabin Passenger ...,82171,Palermo,BIRMANIA,NAPLES,08/16/1892
14488,GAMBINO,TOMMASO,08,"CHILD, YOUNGSTER",UNKNOWN,ITALY,PALERMO,ALBAMA,Staying in the USA [Transit]; Steer[Travel],452,Palermo,INIZIATIVA,NAPLES,07/13/1891
14476,GAMBINO,GASPARE,38,SHOEMAKER,UNKNOWN,ITALY,TORRETTA,ALBAMA,Staying in the USA [Transit]; Steer[Travel],452,Palermo,INIZIATIVA,NAPLES,07/13/1891
13536,FIORE,FRANCESCO,21,COUNTRY MAN,NO,ITALY,CACCAMO,ALBANY,Staying in the USA [Transit]; Steer[Travel],83187,Palermo,KAISER WILHELM II,GENOA,04/30/1899
22363,MANTICA,GIUSEPPE,11,FARMER,READ & WRITE,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
22362,MANTICA,GIOVANNI,Infant in months: 07,FARMER,NO,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
22361,MANTICA,GIOVANNA,Infant in months: 05,FARMER,NO,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
22360,MANTICA,CARMELA,13,HOUSEWIFE,READ & WRITE,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
22359,MANTICA,ALBERTO,16,LABORER,READ & WRITE,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
31834,ROSARIO,GIUDITTA,50,CARPENTER,READ & WRITE,ITALY,CATANIA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83553,Catania,VINCENZO FLORIO,NAPLES,12/20/1900
29820,PUCCIO,NICOLA,67,BAKER,NO,ITALY,PALERMO,ALBANY,Staying in the USA [Transit]; Steer[Travel],83524,Palermo,MANILLA,NAPLES,10/08/1900
33838,SCARDINA,GIUSEPPE,20,JOINER,NO,ITALY,BAGHERIA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83401,Palermo,FURST BISMARCK,GENOA,03/12/1900
8371,COSENTINO,NUNZIA,30,HOUSEWIFE,NO,ITALY,LIPARI,ALBANY,Staying in the USA [Transit]; Steer[Travel],83452,Messina,WERRA,GENOA,05/17/1900
23500,MAZZARELLA,GAETANO,37,MASON,NO,ITALY,BAGHERIA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83401,Palermo,FURST BISMARCK,GENOA,03/12/1900
22364,MANTICA,LETTERIA,03,FARMER,NO,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
22365,MANTICA,MARIA,08,FARMER,READ & WRITE,ITALY,MESSINA,ALBANY,Staying in the USA [Transit]; Steer[Travel],83137,Messina,TARTAR PRINCE,GENOA,12/18/1898
12386,FALANGA,GIUSEPPE,19,PACKER,READ & WRITE,ITALY,LIPARI,ALBANY,Staying in the USA [Transit]; Steer[Travel],83452,Messina,WERRA,GENOA,05/17/1900
17963,JACONO,MARIA,23,HOUSEWIFE,NO,ITALY,LIPARI,ALBANY,Staying in the USA [Transit]; Steer[Travel],83452,Messina,WERRA,GENOA,05/17/1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35819,SPERANZA,ANGELA,02,HOUSEWIFE,NO,ITALY,SERRADIFALCO,WINNIPEG CAN,Staying in the USA [Transit]; Steer[Travel],83528,Caltanissetta,WERRA,GENOA & NAPLES,10/20/1900
35821,SPERANZA,GIUSEPPE,04,HOUSEWIFE,NO,ITALY,SERRADIFALCO,WINNIPEG CAN,Staying in the USA [Transit]; Steer[Travel],83528,Caltanissetta,WERRA,GENOA & NAPLES,10/20/1900
35822,SPERANZA,MICHELE,32,HOUSEWIFE,READ & WRITE,ITALY,SERRADIFALCO,WINNIPEG CAN,Staying in the USA [Transit]; Steer[Travel],83528,Caltanissetta,WERRA,GENOA & NAPLES,10/20/1900
10793,DIBENEDETTO,GAETANO,50,SEAMSTRESS,NO,ITALY,CORLEONE,WISCONSIN,Staying in the USA [Transit]; Steer[Travel],83486,Palermo,EMS,GENOA,07/19/1900
14323,GALIOTO,GIUSEPPE,39,COUNTRY MAN,NO,ITALY,BAGHERIA,WISCONSIN,Staying in the USA [Transit]; Steer[Travel],83438,Palermo,ARCHIMEDE,NAPLES,04/23/1900
33591,SAVONE,FILIPPO,36,SHOEMAKER,READ & WRITE,ITALY,SCIARA,WORCESTER,Staying in the USA [Transit]; Steer[Travel],83216,Palermo,SAALE,GENOA,06/22/1899
9264,D,CATERINA,30,HOUSEKEEPER,READ & WRITE,ITALY,RIBERA,WY,Staying in the USA [Transit]; Steer[Travel],83485,Agrigento,LA BRETAGNE,HAVRE,07/16/1900
3274,BERTINO,MATTEA,56,DAY WORKER,READ & WRITE,ITALY,RIBERA,WY,Staying in the USA [Transit]; Steer[Travel],83485,Agrigento,LA BRETAGNE,HAVRE,07/16/1900
25903,NAVARRA,SALVATORE,19,COUNTRY MAN,NO,ITALY,TRABIA,YOHUGSTON-PA,Staying in the USA [Transit]; Steer[Travel],83393,Palermo,EMS,GENOA,02/23/1900
20091,LO GRASSO,PIETRO,04,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20090,LO GRASSO,PIETRO,03,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20089,LO GRASSO,ORSOLA,07,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20088,LO GRASSO,MADDALENA,03,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
39549,ZICANO,FRANCESCA,33,HOUSEWIFE,READ & WRITE,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
39550,ZICANO,ROSA,25,HOUSEWIFE,READ & WRITE,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20085,LO GRASSO,FRANCESCO,01,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20022,LO BUGLIO,ANTONIO,35,LABORER,NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
13625,FIZANO,CARMELO,28,LABORER,READ & WRITE,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
7778,COMASCELLO,FRANCESCO,52,LABORER,NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
20087,LO GRASSO,GIUSEPPE,04,"NIECE, NEPHEW",NO,ITALY,BAGHERIA,YONIGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83451,Palermo,VICTORIA,NAPLES,05/16/1900
13031,FERRANTE,GIUSEPPE,20,"GARDENER, GROWER",READ & WRITE,ITALY,PALERMO,YOUNGSTON,Staying in the USA [Transit]; Steer[Travel],83232,Palermo,EMS,GENOA,07/12/1899
25253,MORELLI,SALVATOR,18,SHOEMAKER,READ & WRITE,ITALY,PALERMO,YOUNGSTON,Staying in the USA [Transit]; Steer[Travel],83232,Palermo,EMS,GENOA,07/12/1899
20084,LO GRASO,PIETRO,29,LABORER,READ & WRITE,ITALY,BAGHERIA,YOUNGSTON,Staying in the USA [Transit]; Steer[Travel],83351,Palermo,CALIFORNIA,NAPLES,10/29/1899
4426,BUTTILLO,FRANCESCO,47,COUNTRY MAN,READ & WRITE,ITALY,BAGHERIA,YOUNGSTOWN,Staying in the USA [Transit]; Steer[Travel],83341,Palermo,ARCHIMEDE,NAPLES,10/09/1899
22483,MARCHESANO,LUCA,39,COUNTRY MAN,NO,ITALY,CACCAMO,YOUNGSTOWN,Staying in the USA [Transit]; Steer[Travel],83182,Palermo,ALLER,GENOA,04/20/1899
3278,BERTOLA,ROSARIO,40,COUNTRY MAN,READ & WRITE,ITALY,CERDA,YOUNGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83444,Palermo,SPARTAN PRINCE,NAPLES,05/06/1900
13356,FICANO,GIUSEPPE,Infant in months: 10,LABORER,READ & WRITE,ITALY,BAGHERIA,YOUNGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83540,Palermo,NEUSTRIA,MARSEILLES,11/12/1900
13357,FICANO,SALVATORE,36,LABORER,READ & WRITE,ITALY,BAGHERIA,YOUNGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83540,Palermo,NEUSTRIA,MARSEILLES,11/12/1900
29454,PRESTGIACOMO,MICHELE,23,LABORER,READ & WRITE,ITALY,CERDA,YOUNGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83444,Palermo,SPARTAN PRINCE,NAPLES,05/06/1900
6995,CI-CIOLA,MARIA,29,LABORER,READ & WRITE,ITALY,BAGHERIA,YOUNGSTOWN OH,Staying in the USA [Transit]; Steer[Travel],83540,Palermo,NEUSTRIA,MARSEILLES,11/12/1900

In [7]:
df.axes

[RangeIndex(start=0, stop=39725, step=1),
 Index(['LastName', 'FirstName', 'Age', 'Occupation', 'Literacy',
        'CountryofOrigin', 'CityTownofLastResidence', 'DestinationCityTown',
        'TransitTravelCompartment', 'ManifestID', 'Province', 'ShipName',
        'Port', 'Arrival'],
       dtype='object')]

In [8]:
dest = df['DestinationCityTown'].unique()

In [9]:
dest_df = pd.DataFrame(
                {'DestRaw' : dest,
                 'Dest' : dest})

In [10]:
dest_df

                  DestRaw                  Dest
0                NEW YORK              NEW YORK
1          NEW-ORLEANS-LA        NEW-ORLEANS-LA
2             NEW-ORLEANS           NEW-ORLEANS
3                     USA                   USA
4            PHILADELPHIA          PHILADELPHIA
5                  BOSTON                BOSTON
6                 CHICAGO               CHICAGO
7                  KANSAS                KANSAS
8             NEW ORLEANS           NEW ORLEANS
9                   TEXAS                 TEXAS
10          SAN FRANCISCO         SAN FRANCISCO
11                BUFFALO               BUFFALO
12                ALABAMA               ALABAMA
13               NEW YROK              NEW YROK
14              SAN LOUIS             SAN LOUIS
15              LOUISIANA             LOUISIANA
16           PITTSBURG PA          PITTSBURG PA
17             BUFFALO NY            BUFFALO NY
18             CHICAGO IL            CHICAGO IL
19           WESTERLEY RI          WESTERLEY RI
20               BROOKLYN              BROOKLYN
21             HOUSTON-TX            HOUSTON-TX
22            ELEONORE-PA           ELEONORE-PA
23            BROOKLYN NY           BROOKLYN NY
24            MINNEAPOLIS           MINNEAPOLIS
25              BOSTON-MA             BOSTON-MA
26              PITTSBURG             PITTSBURG
27                 ALTONA                ALTONA
28              ROCHESTER             ROCHESTER
29           ROCHESTER-NY          ROCHESTER-NY
..                    ...                   ...
906              HOMESTEA              HOMESTEA
907              HOMOSTEA              HOMOSTEA
908          CLEVELAND OK          CLEVELAND OK
909             S ANTONIO             S ANTONIO
910             MIDDEKEAN             MIDDEKEAN
911                AMATRA                AMATRA
912          PORT-CHESTER          PORT-CHESTER
913            MILFORD PA            MILFORD PA
914           BRADFORD-CT           BRADFORD-CT
915  SUSPENSION BRIDGE NY  SUSPENSION BRIDGE NY
916                MOUNT-                MOUNT-
917           MIDLETON CT           MIDLETON CT
918           ST.LOUIS-MA           ST.LOUIS-MA
919       NEW  ORLEANS LA       NEW  ORLEANS LA
920          WATERBURG CT          WATERBURG CT
921               SCIACCA               SCIACCA
922         PROVIDENCE MA         PROVIDENCE MA
923             MT MORRIS             MT MORRIS
924          PENSACOLA-FL          PENSACOLA-FL
925            SMITHON PA            SMITHON PA
926          NAPOLEONVILL          NAPOLEONVILL
927         JOHNNSTOWN PA         JOHNNSTOWN PA
928             BROOKLYNG             BROOKLYNG
929               NEW ARK               NEW ARK
930            MADISON NJ            MADISON NJ
931     OKLAHOMA CITY OK.     OKLAHOMA CITY OK.
932               ST.JOHN               ST.JOHN
933         CLEVELAND OH.         CLEVELAND OH.
934            MERIDEN-CT            MERIDEN-CT
935            ST.PAUL-MN            ST.PAUL-MN

[936 rows x 2 columns]

In [11]:
dest_df.to_csv('./data/destinations_raw.csv')

In [13]:
df['TransitTravelCompartment'].value_counts()

Staying in the USA [Transit]; Steer[Travel]                     39289
Staying in the USA [Transit]; Cabin Passenger [Travel]            421
Staying in the USA [Transit]; Stowaway [Travel]                    10
Return trip to USA - non US Citizen [Transit]; Steer[Travel]        5
Name: TransitTravelCompartment, dtype: int64

In [12]:
csv2 = open("./data/geocode_results.csv")

In [13]:
dest_df = pd.read_csv(csv2)
dest_df.head

<bound method NDFrame.head of      Unnamed: 0               DestRaw                   Dest  \
0             0              NEW YORK               NEW YORK
1             1        NEW-ORLEANS-LA        NEW ORLEANS, LA
2             2           NEW-ORLEANS        NEW ORLEANS, LA
3             3                   USA                    USA
4             4          PHILADELPHIA       PHILADELPHIA, PA
5             5                BOSTON             BOSTON, MA
6             6               CHICAGO            CHICAGO, IL
7             7                KANSAS                 KANSAS
8             8           NEW ORLEANS        NEW ORLEANS, LA
9             9                 TEXAS                  TEXAS
10           10         SAN FRANCISCO      SAN FRANCISCO, CA
11           11               BUFFALO            BUFFALO, NY
12           12               ALABAMA                ALABAMA
13           13              NEW YROK               NEW YORK
14           14             SAN LOUIS        SAINT LOUIS, MO
15           15             LOUISIANA              LOUISIANA
16           16          PITTSBURG PA          PITTSBURG, PA
17           17            BUFFALO NY            BUFFALO, NY
18           18            CHICAGO IL            CHICAGO, IL
19           19          WESTERLEY RI           WESTERLY, RI
20           20              BROOKLYN           BROOKLYN, NY
21           21            HOUSTON-TX            HOUSTON, TX
22           22           ELEONORE-PA            ELEANOR, PA
23           23           BROOKLYN NY           BROOKLYN, NY
24           24           MINNEAPOLIS        MINNEAPOLIS, MN
25           25             BOSTON-MA             BOSTON, MA
26           26             PITTSBURG          PITTSBURG, PA
27           27                ALTONA                 ALTONA
28           28             ROCHESTER          ROCHESTER, NY
29           29          ROCHESTER-NY          ROCHESTER, NY
..          ...                   ...                    ...
906         906              HOMESTEA               HOMESTEA
907         907              HOMOSTEA               HOMOSTEA
908         908          CLEVELAND OK          CLEVELAND, OK
909         909             S ANTONIO        SAN ANTONIO, TX
910         910             MIDDEKEAN              MIDDEKEAN
911         911                AMATRA                 AMATRA
912         912          PORT-CHESTER           PORT-CHESTER
913         913            MILFORD PA            MILFORD, PA
914         914           BRADFORD-CT           BRADFORD, CT
915         915  SUSPENSION BRIDGE NY  SUSPENSION BRIDGE, NY
916         916                MOUNT-                 MOUNT-
917         917           MIDLETON CT           MIDLETON, CT
918         918           ST.LOUIS-MA           ST.LOUIS, MA
919         919       NEW  ORLEANS LA       NEW  ORLEANS, LA
920         920          WATERBURG CT          WATERBURG, CT
921         921               SCIACCA                SCIACCA
922         922         PROVIDENCE MA         PROVIDENCE, MA
923         923             MT MORRIS              MT MORRIS
924         924          PENSACOLA-FL          PENSACOLA, FL
925         925            SMITHON PA            SMITHON, PA
926         926          NAPOLEONVILL           NAPOLEONVILL
927         927         JOHNNSTOWN PA         JOHNNSTOWN, PA
928         928             BROOKLYNG           BROOKLYN, NY
929         929               NEW ARK                NEW ARK
930         930            MADISON NJ            MADISON, NJ
931         931     OKLAHOMA CITY OK.      OKLAHOMA CITY, OK
932         932               ST.JOHN                ST.JOHN
933         933         CLEVELAND OH.          CLEVELAND, OH
934         934            MERIDEN-CT            MERIDEN, CT
935         935            ST.PAUL-MN            ST.PAUL, MN

                                      geocoder_results  \
0          <[OK] Google - Geocode [New York, NY, USA]>
1       <[OK] Google - Geocode [New Orleans, LA, USA]>
2       <[OK] Google - Geocode [New Orleans, LA, USA]>
3              <[OK] Google - Geocode [United States]>
4      <[OK] Google - Geocode [Philadelphia, PA, USA]>
5            <[OK] Google - Geocode [Boston, MA, USA]>
6           <[OK] Google - Geocode [Chicago, IL, USA]>
7                <[OK] Google - Geocode [Kansas, USA]>
8       <[OK] Google - Geocode [New Orleans, LA, USA]>
9                 <[OK] Google - Geocode [Texas, USA]>
10    <[OK] Google - Geocode [San Francisco, CA, USA]>
11          <[OK] Google - Geocode [Buffalo, NY, USA]>
12              <[OK] Google - Geocode [Alabama, USA]>
13         <[OK] Google - Geocode [New York, NY, USA]>
14        <[OK] Google - Geocode [St. Louis, MO, USA]>
15            <[OK] Google - Geocode [Louisiana, USA]>
16       <[OK] Google - Geocode [Pittsburgh, PA, USA]>
17          <[OK] Google - Geocode [Buffalo, NY, USA]>
18          <[OK] Google - Geocode [Chicago, IL, USA]>
19         <[OK] Google - Geocode [Westerly, RI, USA]>
20         <[OK] Google - Geocode [Brooklyn, NY, USA]>
21          <[OK] Google - Geocode [Houston, TX, USA]>
22   <[OK] Google - Geocode [185 Walton Dr, Morrisv...
23         <[OK] Google - Geocode [Brooklyn, NY, USA]>
24      <[OK] Google - Geocode [Minneapolis, MN, USA]>
25           <[OK] Google - Geocode [Boston, MA, USA]>
26       <[OK] Google - Geocode [Pittsburgh, PA, USA]>
27     <[OK] Google - Geocode [Altona, CO 80302, USA]>
28        <[OK] Google - Geocode [Rochester, NY, USA]>
29        <[OK] Google - Geocode [Rochester, NY, USA]>
..                                                 ...
906                                                NaN
907                                                NaN
908  <[OK] Google - Geocode [Cleveland, OK 74020, U...
909     <[OK] Google - Geocode [San Antonio, TX, USA]>
910                                                NaN
911                                                NaN
912  <[OK] Google - Geocode [Port Chester, NY 10573...
913   <[OK] Google - Geocode [Milford, PA 18337, USA]>
914        <[OK] Google - Geocode [Branford, CT, USA]>
915                                                NaN
916                                                NaN
917      <[OK] Google - Geocode [Middletown, CT, USA]>
918                                                NaN
919     <[OK] Google - Geocode [New Orleans, LA, USA]>
920       <[OK] Google - Geocode [Waterbury, CT, USA]>
921                                                NaN
922      <[OK] Google - Geocode [Providence, RI, USA]>
923  <[OK] Google - Geocode [Mt Morris, MI 48458, U...
924       <[OK] Google - Geocode [Pensacola, FL, USA]>
925        <[OK] Google - Geocode [Smithton, PA, USA]>
926  <[OK] Google - Geocode [Napoleonville, LA 7039...
927       <[OK] Google - Geocode [Johnstown, PA, USA]>
928        <[OK] Google - Geocode [Brooklyn, NY, USA]>
929          <[OK] Google - Geocode [Newark, NJ, USA]>
930   <[OK] Google - Geocode [Madison, NJ 07940, USA]>
931   <[OK] Google - Geocode [Oklahoma City, OK, USA]>
932                                                NaN
933       <[OK] Google - Geocode [Cleveland, OH, USA]>
934         <[OK] Google - Geocode [Meriden, CT, USA]>
935         <[OK] Google - Geocode [St Paul, MN, USA]>

                              latlong
0           [40.7127753, -74.0059728]
1    [29.95106579999999, -90.0715323]
2    [29.95106579999999, -90.0715323]
3              [37.09024, -95.712891]
4           [39.9525839, -75.1652215]
5           [42.3600825, -71.0588801]
6           [41.8781136, -87.6297982]
7            [39.011902, -98.4842465]
8    [29.95106579999999, -90.0715323]
9           [31.9685988, -99.9018131]
10         [37.7749295, -122.4194155]
11   [42.88644679999999, -78.8783689]
12           [32.3182314, -86.902298]
13          [40.7127753, -74.0059728]
14   [38.6270025, -90.19940419999999]
15   [30.9842977, -91.96233269999999]
16   [40.44062479999999, -79.9958864]
17   [42.88644679999999, -78.8783689]
18          [41.8781136, -87.6297982]
19   [41.3775987, -71.82728709999999]
20          [40.6781784, -73.9441579]
21          [29.7604267, -95.3698028]
22          [40.2006537, -74.8265371]
23          [40.6781784, -73.9441579]
24           [44.977753, -93.2650108]
25          [42.3600825, -71.0588801]
26   [40.44062479999999, -79.9958864]
27   [40.13339999999999, -105.282494]
28   [43.15657789999999, -77.6088465]
29   [43.15657789999999, -77.6088465]
..                                ...
906                               NaN
907                               NaN
908         [36.3100688, -96.4641886]
909  [29.4241219, -98.49362819999999]
910                               NaN
911                               NaN
912  [41.0017643, -73.66568339999999]
913          [41.322316, -74.8023882]
914  [41.2799027, -72.81411849999999]
915                               NaN
916                               NaN
917         [41.5623209, -72.6506488]
918                               NaN
919  [29.95106579999999, -90.0715323]
920         [41.5581525, -73.0514965]
921                               NaN
922         [41.8239891, -71.4128343]
923         [43.1186374, -83.6949583]
924  [30.42130899999999, -87.2169149]
925         [40.1539613, -79.7411535]
926         [29.9382674, -91.0274993]
927  [40.32674069999999, -78.9219698]
928         [40.6781784, -73.9441579]
929          [40.735657, -74.1723667]
930          [40.7598227, -74.417097]
931         [35.4675602, -97.5164276]
932                               NaN
933           [41.49932, -81.6943605]
934  [41.5381535, -72.80704349999999]
935         [44.9537029, -93.0899578]

[936 rows x 5 columns]>

After geocoding, aggregate the destinations

In [2]:
csv3 = open("./data/sicily_passengers.csv")
df3 = pd.read_csv(csv3)

In [4]:
df3.axes

[RangeIndex(start=0, stop=39185, step=1),
 Index(['Unnamed: 0', 'LastName', 'FirstName', 'Age', 'Occupation', 'Literacy',
        'CountryofOrigin', 'CityTownofLastResidence', 'DestinationCityTown',
        'TransitTravelCompartment', 'ManifestID', 'Province', 'ShipName',
        'Port', 'Arrival', 'latlong', 'lat', 'lng'],
       dtype='object')]

In [17]:
df3['latlong'].nunique()
dest_list = df3['latlong'].unique()

345

In [27]:
dest_list_df = pd.DataFrame(dest_list)
# rename DestRaw to match passenger df
dest_list_df.rename(columns={0:'latlong'}, inplace=True)

In [28]:
dest_list_df.axes

[RangeIndex(start=0, stop=345, step=1), Index(['latlong'], dtype='object')]

In [37]:
# match destination lat/lng to name of destination
dest_list = df3.merge(dest_list_df, how='left', on='latlong')
dest_list.sample(10)

,Unnamed: 0,LastName,FirstName,Age,Occupation,Literacy,CountryofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID,Province,ShipName,Port,Arrival,latlong,lat,lng
7206,7270,CIRELLO,GIACOMA,06,FARMER,NO,ITALY,SALAPARUTA,BROOKLYN,Staying in the USA [Transit]; Steer[Travel],83007,Trapani,TROJAN PRINCE,NAPLES,12/06/1897,"[40.6781784, -73.9441579]",40.678178,-73.944158
4564,4591,CALABRESE,CATERINA,36,DOMESTIC,NO,ITALY,GIULIANA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],83527,Palermo,TROJAN PRINCE,GENOA,10/19/1900,"[40.7127753, -74.0059728]",40.712775,-74.005973
35030,35479,SOPRANO,CARMELO,37,LABORER,READ & WRITE,ITALY,ALIMENA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],82335,Palermo,PLATA,NAPLES,05/12/1893,"[40.7127753, -74.0059728]",40.712775,-74.005973
20470,20718,LONGO,ARCANGELO,23,LABORER,READ & WRITE,ITALY,PALERMO,CHICAGO,Staying in the USA [Transit]; Steer[Travel],82321,Palermo,AMSTERDAM,BOULOGNE & ROTTERDAM,04/29/1893,"[41.8781136, -87.6297982]",41.878114,-87.629798
13998,14152,FURNO,LORENZO,15,LABORER,READ & WRITE,ITALY,ALIMENA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],83114,Palermo,CALIFORNIA,UNKNOWN,10/03/1898,"[40.7127753, -74.0059728]",40.712775,-74.005973
18625,18850,LAROSA,ANTONIO,59,PEASANT,UNKNOWN,ITALY,MESSINA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],82901,Messina,OREGON,GENOA,04/19/1897,"[40.7127753, -74.0059728]",40.712775,-74.005973
13430,13578,FISCELLA,SALVATORE,15,HAIR DRESSER,READ & WRITE,ITALY,NICOSIA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],83092,Enna,SPARTAN PRINCE,GENOA,07/23/1898,"[40.7127753, -74.0059728]",40.712775,-74.005973
32187,32596,SALADINA,GIOVANNI,09,FARMER,UNKNOWN,ITALY,PALERMO,NEW YORK,Staying in the USA [Transit]; Steer[Travel],85,Palermo,LETIMBRO,PALERMO,09/12/1888,"[40.7127753, -74.0059728]",40.712775,-74.005973
9953,10049,DECICCO,NICANDRO,39,LABORER,READ & WRITE,ITALY,CALTAVUTURO,PHILADELPHIA,Staying in the USA [Transit]; Steer[Travel],82351,Palermo,CACHEMIRE,NAPLES,05/29/1893,"[39.9525839, -75.1652215]",39.952584,-75.165222
3898,3920,BONOMO,FILIPPA,22,HOUSEWIFE,READ & WRITE,ITALY,NICOSIA,NEW YORK,Staying in the USA [Transit]; Steer[Travel],83212,Enna,SPARTAN PRINCE,GENOA,06/14/1899,"[40.7127753, -74.0059728]",40.712775,-74.005973

In [12]:
pd.DataFrame(dest_list).to_csv('./data/destinations_latlong.csv', index="none")