In [1]:
import pandas as pd
import numpy as np

In [7]:
csv1 = open('./data/italians_parta.csv', 'r', newline='')
csv2 = open('./data/italians_partb.csv', 'r', newline='')
csv3 = open('./data/italians_partc.csv', 'r', newline='')

In [8]:
df1 = pd.read_csv(csv1)
df2 = pd.read_csv(csv2)
df3 = pd.read_csv(csv3)

In [10]:
df = df1.append([df2,df3], sort=False)
df.head()

,LastName,FirstName,Age,Occupation,Literacy,CountyofOrigin,CityTownofLastResidence,DestinationCityTown,TransitTravelCompartment,ManifestID
0,ZERONI,CARLO,39,MANUFACTURER,READ & WRITE,ITALY,MIDDLESEX,CALIFORNIA,Return trip to USA - non US Citizen [Transit];...,82279.0
1,ARATA,ANNA,16,FARMER,UNKNOWN,ITALY,SAN-FRANCISCO,SAN-FRANCISCO,Return trip to USA - non US Citizen [Transit];...,80120.0
2,BRILLANTI,SALVATORE,34,FISHERMAN,NO,ITALY,ITALY,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82224.0
3,BUONGIORNO,ANTONIO,49,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236.0
4,BUONGIORNO,GIUSEPPE,60,BLACKSMITH,READ & WRITE,ITALY,SCIACCA,NEW YORK,Return trip to USA - non US Citizen [Transit];...,82236.0

In [13]:
df['CityTownofLastResidence'].value_counts()

U                    383977
NAPOLI                10717
PALERMO                6644
NEW YORK               6293
TERMINI                4276
UNKNOWN                3958
SCIACCA                3527
MESSINA                3037
AVELLINO               2282
PHILADELPHIA           2245
CAMPOBASSO             1915
POTENZA                1888
SALERNO                1579
NICASTRO               1403
COSENZA                1397
CORLEONE               1371
CEFALU                 1319
VALLEDOLMO             1311
ISERNIA                1283
TERMINI-IMERESE        1206
NICOSIA                1166
LIPARI                 1135
MONTEMAGGIORE          1128
TORINO                 1097
TRABIA                 1093
NAPLES                 1062
CASERTA                1051
MARINEO                1047
BOSTON                 1043
BROOKLYN               1030
                      ...
FABENE                    1
ALESSO-DI-C.              1
DIANO                     1
SORTANO                   1
VALDENGI                  1
GRANI-GNE                 1
CARONITI                  1
VILLA CASTELLI            1
GUARDA-PERTICARA          1
PIETROTERRA               1
CASOOLO                   1
CESANI                    1
AURANO NUSCO              1
ALIMINOSA                 1
BAZOUONE                  1
CORNPADALERNA             1
GUILMI                    1
ALBOREGGIO                1
CIRCETTO                  1
GIOVENE                   1
CERTEROLI                 1
MADONNA DI CIRANE         1
COCCAMIO                  1
TEORI                     1
OLI---                    1
ROCCANUO                  1
ALVI--NANELLO             1
PREDGANA                  1
S ELIA P                  1
FOSATO                    1
Name: CityTownofLastResidence, Length: 27334, dtype: int64

In [14]:
df['DestinationCityTown'].value_counts()

NEW YORK               419099
USA                    118909
BROOKLYN                15187
PHILADELPHIA            14521
BOSTON                  12447
CHICAGO                  9532
NEW-YORK                 5639
BUFFALO                  5613
NEW-ORLEANS              5324
CALIFORNIA               5078
BROOKLYN NY              4918
SAN-FRANCISCO            4369
PHILADELPHIA PA          4106
BOSTON MA                4102
PITTSBURG                3820
BOSTON-MA                3411
PROVVIDENCE              2974
PITTSBURGH               2722
PENNSYLVANIA             2694
NEWARK                   2668
PROVIDENCE               2460
SAN FRANCISCO            2448
PITTSBURG PA             2345
CHICAGO IL               2312
PHILADELPHIA-PA          1751
BALTIMORE                1746
CHICAGO-IL               1727
PA                       1656
PROVIDENCE RI            1443
MONTREAL                 1376
                        ...
W TROIA NY                  1
CARLEGATE-UT                1
CORK                        1
LENVENWORTH                 1
WALLING                     1
LAICHBURGH PA               1
OLO-FORGE                   1
NE ORLEANS LA               1
ZURBAN                      1
DUPORT                      1
CLINTON WV                  1
OLOKA (INDIAN TERRI         1
VULCAN-MA                   1
LAMICEL MASS                1
GICORYMAS (MEXIQUE)         1
CARRTON-IL                  1
BEISSEINER-MI               1
MERIDA-FLORIDA              1
IRON-BELT                   1
VOINNEBURG                  1
BORGARELLO                  1
MOULTAN                     1
ONETA                       1
SCHENUTAD-NY                1
-CITY                       1
DAGOS MINES PA              1
SILVER PLAMER               1
KANSAS-CITY-KS              1
EVANS                       1
KRESS                       1
Name: DestinationCityTown, Length: 12713, dtype: int64