In [1]:
import pandas as pd
import numpy as np
import geocoder

In [2]:
csv = open("./destinations_proofed.csv")

In [3]:
df = pd.read_csv(csv)
df.head

<bound method NDFrame.head of                DestRaw               Dest
0             NEW YORK           NEW YORK
1       NEW-ORLEANS-LA    NEW ORLEANS, LA
2          NEW-ORLEANS    NEW ORLEANS, LA
3                  USA                USA
4         PHILADELPHIA   PHILADELPHIA, PA
..                 ...                ...
931  OKLAHOMA CITY OK.  OKLAHOMA CITY, OK
932            ST.JOHN            ST.JOHN
933      CLEVELAND OH.      CLEVELAND, OH
934         MERIDEN-CT        MERIDEN, CT
935         ST.PAUL-MN        ST.PAUL, MN

[936 rows x 2 columns]>

In [4]:
df['geocoder_results'] = df['Dest'].apply(lambda x: geocoder.google(x,key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU"))

In [5]:
df['geocoder_results']

0                                  [[New York, NY, USA]]
1                               [[New Orleans, LA, USA]]
2                               [[New Orleans, LA, USA]]
3                                      [[United States]]
4                              [[Philadelphia, PA, USA]]
                             ...
931                           [[Oklahoma City, OK, USA]]
932    [[St John, 00830, USVI], [St. John's, NL, Cana...
933                               [[Cleveland, OH, USA]]
934                                 [[Meriden, CT, USA]]
935                                 [[St Paul, MN, USA]]
Name: geocoder_results, Length: 936, dtype: object

In [6]:
df['geocoder_results'][0].json

{'accuracy': 'APPROXIMATE',
 'address': 'New York, NY, USA',
 'bbox': {'northeast': [40.9175771, -73.70027209999999],
  'southwest': [40.4773991, -74.25908989999999]},
 'city': 'New York',
 'confidence': 1,
 'country': 'US',
 'lat': 40.7127753,
 'lng': -74.0059728,
 'ok': True,
 'place': 'ChIJOwg_06VPwokRYv534QaPC8g',
 'quality': 'locality',
 'raw': {'address_components': [{'long_name': 'New York',
    'short_name': 'New York',
    'types': ['locality', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'New York, NY, USA',
  'geometry': {'bounds': {'northeast': {'lat': 40.9175771,
     'lng': -73.70027209999999},
    'southwest': {'lat': 40.4773991, 'lng': -74.25908989999999}},
   'location': {'lat': 40.7127753, 'lng': -74.0059728},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 40.9175771, 'lng': -73.70027209999999},
    'southwest': {'lat': 40.4773991, 'lng': -74.25908989999999}}},
  'place_id': 'ChIJOwg_06VPwokRYv534QaPC8g',
  'types': ['locality', 'political'],
  'locality': {'long_name': 'New York', 'short_name': 'New York'},
  'political': {'long_name': 'United States', 'short_name': 'US'},
  'administrative_area_level_1': {'long_name': 'New York', 'short_name': 'NY'},
  'country': {'long_name': 'United States', 'short_name': 'US'}},
 'state': 'NY',
 'status': 'OK'}

In [20]:
df['bbox']=df['geocoder_results'].apply(lambda x: x.bbox)
df['bbox']

0      {'northeast': [40.9175771, -73.70027209999999]...
1      {'northeast': [30.199332, -89.625053], 'southw...
2      {'northeast': [30.199332, -89.625053], 'southw...
3      {'northeast': [49.38, -66.94], 'southwest': [2...
4      {'northeast': [40.1379919, -74.9557629], 'sout...
                             ...
931    {'northeast': [35.674752, -97.12472], 'southwe...
932    {'northeast': [18.3729732, -64.6607028], 'sout...
933    {'northeast': [41.604436, -81.5327439], 'south...
934    {'northeast': [41.578894, -72.744742], 'southw...
935    {'northeast': [44.992016, -93.00431979999999],...
Name: bbox, Length: 936, dtype: object

In [22]:
df['bbox'][0]['northeast']

[40.9175771, -73.70027209999999]

In [23]:
df['bbox'][0]['southwest']

[40.4773991, -74.25908989999999]

In [17]:
df['geocoder_results'][0].bbox['northeast']

[40.9175771, -73.70027209999999]

In [8]:
df['latlong'] = df['geocoder_results'].apply(lambda x: x.latlng)

In [ ]:
#df['geocoder_results'] = df['Dest'].apply(lambda x: geocoder.osm(x))

In [9]:
df

,DestRaw,Dest,geocoder_results,bbox,latlong
0,NEW YORK,NEW YORK,"[[New York, NY, USA]]","{'northeast': [40.9175771, -73.70027209999999]...","[40.7127753, -74.0059728]"
1,NEW-ORLEANS-LA,"NEW ORLEANS, LA","[[New Orleans, LA, USA]]","{'northeast': [30.199332, -89.625053], 'southw...","[29.95106579999999, -90.0715323]"
2,NEW-ORLEANS,"NEW ORLEANS, LA","[[New Orleans, LA, USA]]","{'northeast': [30.199332, -89.625053], 'southw...","[29.95106579999999, -90.0715323]"
3,USA,USA,[[United States]],"{'northeast': [49.38, -66.94], 'southwest': [2...","[37.09024, -95.712891]"
4,PHILADELPHIA,"PHILADELPHIA, PA","[[Philadelphia, PA, USA]]","{'northeast': [40.1379919, -74.9557629], 'sout...","[39.9525839, -75.1652215]"
...,...,...,...,...,...
931,OKLAHOMA CITY OK.,"OKLAHOMA CITY, OK","[[Oklahoma City, OK, USA]]","{'northeast': [35.674752, -97.12472], 'southwe...","[35.4675602, -97.5164276]"
932,ST.JOHN,ST.JOHN,"[[St John, 00830, USVI], [St. John's, NL, Cana...","{'northeast': [18.3729732, -64.6607028], 'sout...","[18.3368114, -64.7280952]"
933,CLEVELAND OH.,"CLEVELAND, OH","[[Cleveland, OH, USA]]","{'northeast': [41.604436, -81.5327439], 'south...","[41.49932, -81.6943605]"
934,MERIDEN-CT,"MERIDEN, CT","[[Meriden, CT, USA]]","{'northeast': [41.578894, -72.744742], 'southw...","[41.5381535, -72.80704349999999]"
935,ST.PAUL-MN,"ST.PAUL, MN","[[St Paul, MN, USA]]","{'northeast': [44.992016, -93.00431979999999],...","[44.9537029, -93.0899578]"

In [11]:
df.to_csv('./geocode_results.csv')

In [3]:
altona = geocoder.google("altona",key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU")

{'accuracy': 'APPROXIMATE',
 'address': 'Altona, CO 80302, USA',
 'bbox': {'northeast': [40.1419303, -105.2664866],
  'southwest': [40.1248687, -105.2985014]},
 'city': 'Altona',
 'confidence': 7,
 'country': 'US',
 'county': 'Boulder County',
 'lat': 40.13339999999999,
 'lng': -105.282494,
 'ok': True,
 'place': 'ChIJtSdGILHla4cRbQJakk8Ze9A',
 'postal': '80302',
 'quality': 'locality',
 'raw': {'address_components': [{'long_name': 'Altona',
    'short_name': 'Altona',
    'types': ['locality', 'political']},
   {'long_name': 'Boulder County',
    'short_name': 'Boulder County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Colorado',
    'short_name': 'CO',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '80302', 'short_name': '80302', 'types': ['postal_code']}],
  'formatted_address': 'Altona, CO 80302, USA',
  'geometry': {'location': {'lat': 40.13339999999999, 'lng': -105.282494},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 40.1419303, 'lng': -105.2664866},
    'southwest': {'lat': 40.1248687, 'lng': -105.2985014}}},
  'place_id': 'ChIJtSdGILHla4cRbQJakk8Ze9A',
  'types': ['locality', 'political'],
  'locality': {'long_name': 'Altona', 'short_name': 'Altona'},
  'political': {'long_name': 'United States', 'short_name': 'US'},
  'administrative_area_level_2': {'long_name': 'Boulder County',
   'short_name': 'Boulder County'},
  'administrative_area_level_1': {'long_name': 'Colorado', 'short_name': 'CO'},
  'country': {'long_name': 'United States', 'short_name': 'US'},
  'postal_code': {'long_name': '80302', 'short_name': '80302'}},
 'state': 'CO',
 'status': 'OK'}

In [8]:
altona[0]

[Altona, CO 80302, USA]

In [25]:
altona[1]

[Altona, Hamburg, Germany]

In [26]:
altona[0].latlng

[40.13339999999999, -105.282494]

In [13]:
delancyPA = geocoder.google("DE LANCY, PA",key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU")

In [24]:
delancyPA.latlng

[40.9865811, -78.96023199999999]

In [16]:
middletown = geocoder.google("MIDDLETOWN",key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU")

In [19]:
middletown[0]

[Middletown, CT, USA]

In [20]:
middletown[1]

[Middletown, NJ, USA]

In [21]:
middletown[2]

[Middletown, OH, USA]

In [22]:
#pick Middletown, CT
middletown[0].latlng

[41.5623209, -72.6506488]

In [27]:
dunkirkny = geocoder.google("dunkirk, ny",key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU")

In [28]:
dunkirkny

<[OK] Google - Geocode [Dunkirk, NY 14048, USA]>

In [29]:
dunkirkny.latlng

[42.4795019, -79.3339324]

In [30]:
jefferson = geocoder.google('jefferson, nj',key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU")

In [31]:
jefferson

<[OK] Google - Geocode [Jefferson, NJ, USA]>

In [32]:
jefferson.latlng

[41.0029893, -74.5580454]

In [34]:
csv2 = open("./data/geocode_results.csv")

In [35]:
df2 = pd.read_csv(csv2)
df2.head

<bound method NDFrame.head of      Unnamed: 0               DestRaw                   Dest  \
0             0              NEW YORK               NEW YORK
1             1        NEW-ORLEANS-LA        NEW ORLEANS, LA
2             2           NEW-ORLEANS        NEW ORLEANS, LA
3             3                   USA                    USA
4             4          PHILADELPHIA       PHILADELPHIA, PA
5             5                BOSTON             BOSTON, MA
6             6               CHICAGO            CHICAGO, IL
7             7                KANSAS                 KANSAS
8             8           NEW ORLEANS        NEW ORLEANS, LA
9             9                 TEXAS                  TEXAS
10           10         SAN FRANCISCO      SAN FRANCISCO, CA
11           11               BUFFALO            BUFFALO, NY
12           12               ALABAMA                ALABAMA
13           13              NEW YROK               NEW YORK
14           14             SAN LOUIS        SAINT LOUIS, MO
15           15             LOUISIANA              LOUISIANA
16           16          PITTSBURG PA          PITTSBURG, PA
17           17            BUFFALO NY            BUFFALO, NY
18           18            CHICAGO IL            CHICAGO, IL
19           19          WESTERLEY RI           WESTERLY, RI
20           20              BROOKLYN           BROOKLYN, NY
21           21            HOUSTON-TX            HOUSTON, TX
22           22           ELEONORE-PA            ELEANOR, PA
23           23           BROOKLYN NY           BROOKLYN, NY
24           24           MINNEAPOLIS        MINNEAPOLIS, MN
25           25             BOSTON-MA             BOSTON, MA
26           26             PITTSBURG          PITTSBURG, PA
27           27                ALTONA                 ALTONA
28           28             ROCHESTER          ROCHESTER, NY
29           29          ROCHESTER-NY          ROCHESTER, NY
..          ...                   ...                    ...
906         906              HOMESTEA               HOMESTEA
907         907              HOMOSTEA               HOMOSTEA
908         908          CLEVELAND OK          CLEVELAND, OK
909         909             S ANTONIO        SAN ANTONIO, TX
910         910             MIDDEKEAN              MIDDEKEAN
911         911                AMATRA                 AMATRA
912         912          PORT-CHESTER           PORT-CHESTER
913         913            MILFORD PA            MILFORD, PA
914         914           BRADFORD-CT           BRADFORD, CT
915         915  SUSPENSION BRIDGE NY  SUSPENSION BRIDGE, NY
916         916                MOUNT-                 MOUNT-
917         917           MIDLETON CT           MIDLETON, CT
918         918           ST.LOUIS-MA           ST.LOUIS, MA
919         919       NEW  ORLEANS LA       NEW  ORLEANS, LA
920         920          WATERBURG CT          WATERBURG, CT
921         921               SCIACCA                SCIACCA
922         922         PROVIDENCE MA         PROVIDENCE, MA
923         923             MT MORRIS              MT MORRIS
924         924          PENSACOLA-FL          PENSACOLA, FL
925         925            SMITHON PA            SMITHON, PA
926         926          NAPOLEONVILL           NAPOLEONVILL
927         927         JOHNNSTOWN PA         JOHNNSTOWN, PA
928         928             BROOKLYNG           BROOKLYN, NY
929         929               NEW ARK                NEW ARK
930         930            MADISON NJ            MADISON, NJ
931         931     OKLAHOMA CITY OK.      OKLAHOMA CITY, OK
932         932               ST.JOHN                ST.JOHN
933         933         CLEVELAND OH.          CLEVELAND, OH
934         934            MERIDEN-CT            MERIDEN, CT
935         935            ST.PAUL-MN            ST.PAUL, MN

                                      geocoder_results  \
0          <[OK] Google - Geocode [New York, NY, USA]>
1       <[OK] Google - Geocode [New Orleans, LA, USA]>
2       <[OK] Google - Geocode [New Orleans, LA, USA]>
3              <[OK] Google - Geocode [United States]>
4      <[OK] Google - Geocode [Philadelphia, PA, USA]>
5            <[OK] Google - Geocode [Boston, MA, USA]>
6           <[OK] Google - Geocode [Chicago, IL, USA]>
7                <[OK] Google - Geocode [Kansas, USA]>
8       <[OK] Google - Geocode [New Orleans, LA, USA]>
9                 <[OK] Google - Geocode [Texas, USA]>
10    <[OK] Google - Geocode [San Francisco, CA, USA]>
11          <[OK] Google - Geocode [Buffalo, NY, USA]>
12              <[OK] Google - Geocode [Alabama, USA]>
13         <[OK] Google - Geocode [New York, NY, USA]>
14        <[OK] Google - Geocode [St. Louis, MO, USA]>
15            <[OK] Google - Geocode [Louisiana, USA]>
16       <[OK] Google - Geocode [Pittsburgh, PA, USA]>
17          <[OK] Google - Geocode [Buffalo, NY, USA]>
18          <[OK] Google - Geocode [Chicago, IL, USA]>
19         <[OK] Google - Geocode [Westerly, RI, USA]>
20         <[OK] Google - Geocode [Brooklyn, NY, USA]>
21          <[OK] Google - Geocode [Houston, TX, USA]>
22   <[OK] Google - Geocode [185 Walton Dr, Morrisv...
23         <[OK] Google - Geocode [Brooklyn, NY, USA]>
24      <[OK] Google - Geocode [Minneapolis, MN, USA]>
25           <[OK] Google - Geocode [Boston, MA, USA]>
26       <[OK] Google - Geocode [Pittsburgh, PA, USA]>
27     <[OK] Google - Geocode [Altona, CO 80302, USA]>
28        <[OK] Google - Geocode [Rochester, NY, USA]>
29        <[OK] Google - Geocode [Rochester, NY, USA]>
..                                                 ...
906                                                NaN
907                                                NaN
908  <[OK] Google - Geocode [Cleveland, OK 74020, U...
909     <[OK] Google - Geocode [San Antonio, TX, USA]>
910                                                NaN
911                                                NaN
912  <[OK] Google - Geocode [Port Chester, NY 10573...
913   <[OK] Google - Geocode [Milford, PA 18337, USA]>
914        <[OK] Google - Geocode [Branford, CT, USA]>
915                                                NaN
916                                                NaN
917      <[OK] Google - Geocode [Middletown, CT, USA]>
918                                                NaN
919     <[OK] Google - Geocode [New Orleans, LA, USA]>
920       <[OK] Google - Geocode [Waterbury, CT, USA]>
921                                                NaN
922      <[OK] Google - Geocode [Providence, RI, USA]>
923  <[OK] Google - Geocode [Mt Morris, MI 48458, U...
924       <[OK] Google - Geocode [Pensacola, FL, USA]>
925        <[OK] Google - Geocode [Smithton, PA, USA]>
926  <[OK] Google - Geocode [Napoleonville, LA 7039...
927       <[OK] Google - Geocode [Johnstown, PA, USA]>
928        <[OK] Google - Geocode [Brooklyn, NY, USA]>
929          <[OK] Google - Geocode [Newark, NJ, USA]>
930   <[OK] Google - Geocode [Madison, NJ 07940, USA]>
931   <[OK] Google - Geocode [Oklahoma City, OK, USA]>
932                                                NaN
933       <[OK] Google - Geocode [Cleveland, OH, USA]>
934         <[OK] Google - Geocode [Meriden, CT, USA]>
935         <[OK] Google - Geocode [St Paul, MN, USA]>

                              latlong
0           [40.7127753, -74.0059728]
1    [29.95106579999999, -90.0715323]
2    [29.95106579999999, -90.0715323]
3              [37.09024, -95.712891]
4           [39.9525839, -75.1652215]
5           [42.3600825, -71.0588801]
6           [41.8781136, -87.6297982]
7            [39.011902, -98.4842465]
8    [29.95106579999999, -90.0715323]
9           [31.9685988, -99.9018131]
10         [37.7749295, -122.4194155]
11   [42.88644679999999, -78.8783689]
12           [32.3182314, -86.902298]
13          [40.7127753, -74.0059728]
14   [38.6270025, -90.19940419999999]
15   [30.9842977, -91.96233269999999]
16   [40.44062479999999, -79.9958864]
17   [42.88644679999999, -78.8783689]
18          [41.8781136, -87.6297982]
19   [41.3775987, -71.82728709999999]
20          [40.6781784, -73.9441579]
21          [29.7604267, -95.3698028]
22          [40.2006537, -74.8265371]
23          [40.6781784, -73.9441579]
24           [44.977753, -93.2650108]
25          [42.3600825, -71.0588801]
26   [40.44062479999999, -79.9958864]
27   [40.13339999999999, -105.282494]
28   [43.15657789999999, -77.6088465]
29   [43.15657789999999, -77.6088465]
..                                ...
906                               NaN
907                               NaN
908         [36.3100688, -96.4641886]
909  [29.4241219, -98.49362819999999]
910                               NaN
911                               NaN
912  [41.0017643, -73.66568339999999]
913          [41.322316, -74.8023882]
914  [41.2799027, -72.81411849999999]
915                               NaN
916                               NaN
917         [41.5623209, -72.6506488]
918                               NaN
919  [29.95106579999999, -90.0715323]
920         [41.5581525, -73.0514965]
921                               NaN
922         [41.8239891, -71.4128343]
923         [43.1186374, -83.6949583]
924  [30.42130899999999, -87.2169149]
925         [40.1539613, -79.7411535]
926         [29.9382674, -91.0274993]
927  [40.32674069999999, -78.9219698]
928         [40.6781784, -73.9441579]
929          [40.735657, -74.1723667]
930          [40.7598227, -74.417097]
931         [35.4675602, -97.5164276]
932                               NaN
933           [41.49932, -81.6943605]
934  [41.5381535, -72.80704349999999]
935         [44.9537029, -93.0899578]

[936 rows x 5 columns]>

In [3]:
origin_csv = open("./data/origins_raw.csv")
origin_df = pd.read_csv(origin_csv)
origin_df

     Unnamed: 0           origin_city origin_country
0             0               SCIACCA          ITALY
1             1               PALERMO          ITALY
2             2               MESSINA          ITALY
3             3           POGGIOREALE          ITALY
4             4            SALAPARUTA          ITALY
5             5               CACCAMO          ITALY
6             6                USTICA          ITALY
7             7                 MENFI          ITALY
8             8                  ALIA          ITALY
9             9              CORLEONE          ITALY
10           10               GODRANO          ITALY
11           11             ROCCAMENA          ITALY
12           12            BISACQUINO          ITALY
13           13               CIMINNA          ITALY
14           14               NICOSIA          ITALY
15           15             MEZZOJUSO          ITALY
16           16              PARTANNA          ITALY
17           17                VICARI          ITALY
18           18                TRABIA          ITALY
19           19                CINISI          ITALY
20           20                PRIZZI          ITALY
21           21          ROCCAPALUMBA          ITALY
22           22             GIBELLINA          ITALY
23           23              GIULIANA          ITALY
24           24               MILAZZO          ITALY
25           25               MARINEO          ITALY
26           26                LIPARI          ITALY
27           27               TRAPANI          ITALY
28           28                SCIARA          ITALY
29           29               ARAGONA          ITALY
..          ...                   ...            ...
212         212   ISOLA DELLE FEMMINE          ITALY
213         213            CARLENTINI          ITALY
214         214           MONTALLEGRO          ITALY
215         215           TORREGROTTA          ITALY
216         216                  GELA          ITALY
217         217  SANTA LUCIA DEL MELA          ITALY
218         218               MASCALI          ITALY
219         219                MODICA          ITALY
220         220   SAN MARCO D'ALUNZIO          ITALY
221         221           CALTAGIRONE          ITALY
222         222              PETTINEO          ITALY
223         223             CIANCIANA          ITALY
224         224  SANTA TERESA DI RIVA          ITALY
225         225          MISTERBIANCO          ITALY
226         226           PANTELLERIA          ITALY
227         227              MALVAGNA          ITALY
228         228  PIANA DEGLI ALBANESI          ITALY
229         229            MASCALUCIA          ITALY
230         230          ACI CASTELLO          ITALY
231         231   SAN GIOVANNI GEMINI          ITALY
232         232                 FERLA          ITALY
233         233               SORTINO          ITALY
234         234  CAMPOBELLO DI LICATA          ITALY
235         235                 DELIA          ITALY
236         236            ACI CATENA          ITALY
237         237              BELPASSO          ITALY
238         238                ISPICA          ITALY
239         239   MILITELLO ROSMARINO          ITALY
240         240                SUTERA          ITALY
241         241              BUCCHERI          ITALY

[242 rows x 3 columns]

In [6]:
origin_df['origin_city'][0]+", Italy"

'SCIACCA, Italy'

In [7]:
origin_df['geocoder_results'] = origin_df['origin_city'].apply(lambda x: geocoder.google(x+", ITALY",key="AIzaSyCWMu21goXc5nknrMsC2HUgDTT0aDGclwU"))

In [10]:
origin_df['origin_lon'] = origin_df['geocoder_results'].apply(lambda x: x.lng)

In [11]:
origin_df['origin_lat'] = origin_df['geocoder_results'].apply(lambda x: x.lat)

In [12]:
origin_df.to_csv('./project-files/origin_geocode_results.csv')